@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RalewayHeavy";
  font-display: swap;
  src: url("../fonts/Raleway-Heavy.woff") format("woff"), url("../fonts/Raleway-Heavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: "Roboto";
}

.header {
  background-image: -o-linear-gradient(30deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 25%, rgba(0, 36, 83, 0.53) 75%, rgba(255, 43, 74, 0.53) 100%);
  background-image: linear-gradient(60deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 25%, rgba(0, 36, 83, 0.53) 75%, rgba(255, 43, 74, 0.53) 100%);
  opacity: 0.9;
  padding: 91px 0px 350px 0px;
  position: relative;
}

.header__container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  border: 4px solid #ffffff;
  padding: 5px 10px;
  width: 60px;
  height: 50px;
}

.header__menu span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin: 5px 0px;
}

.header__menus.show-menu {
  z-index: 10;
  position: absolute;
  background-color: #000000;
  -webkit-animation-name: menuCircle;
          animation-name: menuCircle;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  right: 180px;
  top: 100px;
}

.header__menu.show-menu {
  z-index: 11;
  position: absolute;
  right: 180px;
  top: 100px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.header__menu.show-menu span {
  position: relative;
}

.header__menu.show-menu span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.header__menu.show-menu span:nth-child(2) {
  display: none;
}

.header__menu.show-menu span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__menu-title {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.header__menu-title.show-menu {
  position: relative;
  z-index: 12;
  display: block;
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0.5s;
  -o-transition: all 0.3s ease 0.5s;
  transition: all 0.3s ease 0.5s;
  visibility: visible;
}

@-webkit-keyframes menuCircle {
  0% {
    width: 30px;
    height: 50px;
  }

  100% {
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 0;
    right: 0;
  }
}

@keyframes menuCircle {
  0% {
    width: 30px;
    height: 50px;
  }

  100% {
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 0;
    right: 0;
  }
}

.header__title {
  padding: 250px 0px 0px 0px;
  text-align: center;
}

.header__title-text {
  display: inline-block;
  font-family: "RalewayHeavy";
  text-transform: uppercase;
  letter-spacing: 14.3px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  border-right: none;
  color: #ffffff;
  padding: 30px 0px;
}

.header__subtitle {
  color: #ffffff;
  padding: 26px 0px 0px 0px;
  opacity: 0.7;
  letter-spacing: 0.88px;
  text-align: center;
}

.hi {
  padding: 119px 0px 0px 0px;
  overflow: hidden;
  position: relative;
}

.hi__container {
  max-width: 1177px;
  margin: 0px auto;
  padding: 0px 15px;
}

.hi__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hi__img {
  margin: 0px 79px 0px 0px;
  -webkit-transform: translate(-150%, 0);
      -ms-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
  opacity: 0;
}

.hi__img._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.hi__title {
  padding: 53px 0px 0px 0px;
  opacity: 0.7;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.18px;
}

.hi__text {
  font-size: 16px;
  opacity: 0.7;
  letter-spacing: 0.16px;
  line-height: 28px;
}

.hi__text p {
  padding: 41px 0px 0px 0px;
}

.hi__button {
  padding: 67px 0px 30px 0px;
}

.btn__standart {
  color: #ffffff;
  text-align: center;
  background-color: #ff2b4a;
  width: 202px;
  height: 46px;
  line-height: 28px;
  letter-spacing: 0.16px;
  font-weight: 500;
}

.working {
  background-color: #f6f6f6;
  padding: 123px 0px;
}

.working__container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}

.working__content {
  text-align: center;
}

.working__title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.working__subtitle {
  padding: 32px 0px 0px 0px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
}

.working__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 61px 0px 0px 0px;
}

.working__column {
  min-width: 270px;
  margin: 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 87px 0px;
  color: #ffffff;
}

.working__column-text {
  padding: 47px 0px 0px 0px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.working__column-one {
  background-color: #10c6fc;
}

.working__column-two {
  background-color: #835aeb;
}

.working__column-three {
  background-color: #002453;
}

.working__column-four {
  background-color: #ff2b4a;
}

.experience {
  padding: 124px 0px;
  background-image: -o-linear-gradient(30deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 25%, rgba(0, 36, 83, 0.53) 75%, rgba(255, 43, 74, 0.53) 100%);
  background-image: linear-gradient(60deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 25%, rgba(0, 36, 83, 0.53) 75%, rgba(255, 43, 74, 0.53) 100%);
}

.experience__container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}

.experience__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience__column {
  background-image: -o-linear-gradient(30deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 25%, rgba(0, 36, 83, 0.53) 75%, rgba(255, 43, 74, 0.53) 100%);
  background-image: linear-gradient(60deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 25%, rgba(0, 36, 83, 0.53) 75%, rgba(255, 43, 74, 0.53) 100%);
  color: #ffffff;
  margin: 0px 7px;
}

.experience__column-wrapper {
  padding: 65px 41px;
}

.experience__column-title {
  padding: 0px 0px 35px 0px;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-transform: uppercase;
}

.experience__column-body {
  padding: 30px 0px 30px 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.experience__column-body:last-child {
  border: none;
  padding: 30px 0px 0px 0px;
}

.experience__column-name {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.18px;
  opacity: 0.9;
}

.experience__column-data {
  padding: 19px 0px 0px 0px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
}

.experience__column-text {
  padding: 16px 0px 0px 0px;
  letter-spacing: 0.16px;
  font-size: 16px;
  line-height: 23px;
  opacity: 0.5;
}

.latest {
  padding: 123px 0px;
}

.latest__container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}

.latest__content {
  text-align: center;
}

.latest__title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.latest__subtitle {
  padding: 52px 0px 0px 0px;
  letter-spacing: 0.16px;
  font-weight: 500;
}

.latest__columns {
  padding: 39px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 0;
}

.latest__column {
  width: 270px;
  height: 230px;
  margin: 6px 6px;
}

.latest__column img {
  width: 100%;
  height: 100%;
}

.latest__column-big {
  width: 553px;
}

.deniel {
  padding: 138px 0px;
  background-color: #64cbc0;
}

.deniel__container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}

.deniel__content {
  max-width: 476px;
}

.deniel__text {
  padding: 50px 0px 0px 0px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.16px;
  opacity: 0.8;
}

.deniel__ros {
  padding: 54px 0px 0px 0px;
}

.deniel__name {
  padding: 31px 0px 0px 0px;
  opacity: 0.7;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.deniel__dol {
  padding: 16px 0px 0px 0px;
  letter-spacing: 0.14px;
  opacity: 0.7;
}

.contact {
  padding: 125px 0px;
  background-image: -o-linear-gradient(30deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 25%, rgba(0, 36, 83, 0.53) 75%, rgba(255, 43, 74, 0.53) 100%);
  background-image: linear-gradient(60deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 25%, rgba(0, 36, 83, 0.53) 75%, rgba(255, 43, 74, 0.53) 100%);
}

.contact__container {
  max-width: 1170px;
  margin: 0px auto;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form-wrapper {
  margin: 0px 7px;
  padding: 64px 43px;
  background-image: -o-linear-gradient(30deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 25%, rgba(0, 36, 83, 0.53) 75%, rgba(255, 43, 74, 0.53) 100%);
  background-image: linear-gradient(60deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 25%, rgba(0, 36, 83, 0.53) 75%, rgba(255, 43, 74, 0.53) 100%);
}

.contact__form-title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.78px;
  padding: 0px 0px 37px 0px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-input {
  background-color: transparent;
  width: 100%;
  margin: 27px 0px 0px 0px;
  color: #ffffff;
  letter-spacing: 0.12px;
  font-size: 12px;
  opacity: 0.6;
  padding: 21px 19px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.contact__form-textarea {
  background-color: transparent;
  width: 100%;
  height: 205px;
  margin: 27px 0px 0px 0px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #ffffff;
  padding: 21px 19px;
  letter-spacing: 0.12px;
  font-size: 12px;
  opacity: 0.6;
}

.contact__form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 36px 0px 0px 0px;
}

.contact__contacts {
  margin: 0px 7px;
}

.contact__column {
  background-image: -o-linear-gradient(30deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 25%, rgba(0, 36, 83, 0.53) 75%, rgba(255, 43, 74, 0.53) 100%);
  background-image: linear-gradient(60deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 25%, rgba(0, 36, 83, 0.53) 75%, rgba(255, 43, 74, 0.53) 100%);
  padding: 65px 41px 58px 41px;
  margin: 0px 0px 23px 0px;
  color: #ffffff;
}

.contact__column:last-child {
  margin: 0px 0px;
}

.contact__column-title {
  font-size: 26px;
  letter-spacing: 0.78px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact__column-text {
  padding: 41px 0px 0px 0px;
  opacity: 0.7;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 30px;
}

.contact__column-text a {
  display: block;
  color: #ffffff;
}

.footer {
  padding: 64px 0px;
  background-color: #000000;
}

.footer__container {
  max-width: 240px;
  margin: 0px auto;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 133px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social:after {
  content: "";
  display: block;
  width: 1px;
  height: 14px;
  background-color: #888888;
  margin: 0px 13px;
}

.footer__social:last-child:after {
  content: "";
  display: none;
}

.footer__text {
  color: #ffffff;
  opacity: 0.5;
  font-size: 12px;
  letter-spacing: 0.48px;
  padding: 21px 0px 0px 0px;
}

@media (min-width: 767px) {
  .header__title-text {
    font-size: calc(35px + 30* (100vw / 1600));
  }

  .header__subtitle {
    font-size: calc(19px + 6* (100vw / 1600));
  }
}

@media (max-width: 900px) {
  .hi__img {
    position: absolute;
    opacity: 0.1;
  }

  .working__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact__content {
    display: block;
  }

  .contact__contacts {
    padding: 23px 0px 0px 0px;
  }
}

@media (max-width: 767px) {
  .header__title-text {
    font-size: calc(35px + 51 * ((100vw - 320px) / 1600));
  }

  .header__subtitle {
    font-size: calc(19px + 10.2 * ((100vw - 320px) / 1600));
  }

  .latest__columns {
    padding: 39px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 0;
    position: relative;
  }

  .latest__column {
    max-width: auto;
    height: 270px;
    margin: 6px 6px;
  }

  .latest__column img {
    max-width: 320px;
    height: auto;
  }

  .latest__column-big {
    width: 573px;
  }

  .latest__columns .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .slick-list {
    overflow: hidden;
  }

  .latest__columns .slick-arrow {
    position: absolute;
    font-size: 0;
    top: calc(50% - 25px);
    width: 30px;
    height: 50px;
  }

  .latest__columns .slick-prev {
    background: url("../img/icon/sl-arrow_l.svg") 0 0 no-repeat;
    background-size: 100% 100%;
    left: 10px;
  }

  .latest__columns .slick-next {
    background: url("../img/icon/sl-arrow_r.svg") 0 0 no-repeat;
    right: 10px;
    background-size: 100% 100%;
  }
}

@media (max-width: 700px) {
  .experience__columns {
    display: block;
  }

  .experience__column {
    margin: 30px 0px 0px 0px;
  }
}

@media (max-width: 615px) {
  .latest__column:nth-child(5) {
    display: none;
  }

  .contact__form-wrapper {
    padding: 64px 20px;
  }
}

@media (max-width: 600px) {
  .working {
    padding: 50px 0px 0px 0px;
  }
}

@media (max-width: 500px) {
  .header__title {
    padding: 120px 0px 0px 0px;
  }

  .header {
    padding: 30px 0px 170px 0px;
  }

  .hi {
    padding: 50px 0px 0px 0px;
  }
}